In [3]:
import pandas as pd

reviews_df = pd.read_csv('../data/winemag-data-130k-v2.csv')

In [5]:
reviews_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [10]:
# Task: who are the most common wine reviewer.
# create a Series whose index is the 'taster_twitter_handle'
# Whose values count now many reviews each person wrote

reviewer = reviews_df.groupby('taster_twitter_handle').count()
# reviewer = reviews_df.groupby('taster_twitter_handle')[taster_twitter_handle].count()
reviewer

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,title,variety,winery
taster_twitter_handle,,,,,,,,,,,,,
@AnneInVino,3685,3676,3685,3130,3685,3398,3676,1395,0,3685,3685,3685,3685
@JoeCz,5147,5145,5147,3428,5147,5012,5145,3406,101,5147,5147,5147,5147
@bkfiona,27,27,27,17,27,27,27,18,0,27,27,27,27
@gordone_cellars,4177,4177,4177,2660,4177,4171,4177,4171,3087,4177,4177,4177,4177
@kerinokeefe,10776,10776,10776,7549,10776,9874,10776,10749,0,10776,10776,10776,10776
@laurbuzz,1835,1832,1835,1268,1835,1713,1832,618,18,1835,1835,1835,1835
@mattkettmann,6332,6332,6332,4568,6332,6237,6332,6331,6284,6332,6332,6332,6332
@paulgwine,9532,9531,9532,6482,9532,9498,9531,9487,8923,9532,9532,9532,9532
@suskostrzewa,1085,1080,1085,682,1085,1073,1080,243,159,1085,1085,1085,1085
@vboone,9537,9537,9537,6764,9537,9507,9537,9532,9022,9537,9537,9537,9537
@vossroger,25514,25512,25514,17963,25514,20172,25512,18635,2,25514,25514,25514,25514
@wawinereport,4966,4966,4966,3550,4966,4925,4966,4791,4743,4966,4966,4966,4966
@wineschach,15134,15127,15134,12275,15134,14951,15127,10477,69,15134,15134,15134,15134
@winewchristina,6,6,6,2,6,6,6,6,5,6,6,6,6
@worldwineguys,1005,971,1005,780,1005,995,971,0,0,1005,1005,1005,1005

In [16]:
# Task 2: What is the best wine i can buy for a given amount for money?
# Create a Series whose index is the wine price and whose values are the max number of points
# a wine costing that much was given in a review
# sort the series by price, ascending ($4 at the top and 3300 at the bottom)

price_review = reviews_df.groupby('price')['points'].max().sort_index()

price_review

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [18]:
# Task: what are the minimum and the maximum prices for each variety of wine 

# create a dataframe whose index is variety and whose values are min max value

variety_review = reviews_df.groupby(['variety']).price.agg([min, max])

variety_review

C:\Users\marti\AppData\Local\Temp\ipykernel_41116\2907769634.py:5: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  variety_review = reviews_df.groupby(['variety']).price.agg([min, max])
C:\Users\marti\AppData\Local\Temp\ipykernel_41116\2907769634.py:5: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  variety_review = reviews_df.groupby(['variety']).price.agg([min, max])

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

In [25]:
# Task: what are the most expensive wine varieties?
# create a variable 'sorted_varieties' containing a copy of the DataFrame from the previous task.

sorted_varieties = variety_review.sort_values(by=['min','max'], ascending=False)

sorted_varieties

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

In [29]:
# Task: Create a series whose index is 'reviewer' and whose values is the average review score given by the reviewer.
# hintL you need 'taster name' and 'points'


reviewer_points = reviews_df.groupby('taster_name')['points'].mean().sort_index()

reviewer_points

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks